## 1- Importing Libraries and loading CSVs

In [1]:
import pandas as pd
import numpy as np
import seaborn as sns
import matplotlib.pyplot as plt

In [2]:
path = "/Users/Marcy_Student/Desktop/CID_data-slayer-corps/data/Relational_Tables.xlsx"

# Fact table loading
fact_table = pd.read_excel(path, sheet_name=2)
fact_table.head()

# demographic table loading
demog_dim = pd.read_excel(path, sheet_name=3)

# environment table loading
env_dim = pd.read_excel(path, sheet_name=4)

# location table loading
location_dim = pd.read_excel(path, sheet_name=5)


columns_names = fact_table.columns.tolist() + demog_dim.columns.tolist() + env_dim.columns.tolist() + location_dim.columns.tolist()
print("Column Names:")
for col in columns_names:
    print(f"  {col}")

Column Names:
  Primary_Key
  DBN
  Subgroup
  4Year_College_and_Career_Readiness_N_count
  4Year_College_and_Career_Readiness_Metric_Value
  4Year_Graduation_Rate_N_count
  4Year_Graduation_Rate_Metric_Value
  4Year_High_School_Persistence_Rate_N_count
  4Year_High_School_Persistence_Rate_Metric_Value
  Percentage_of_Students_with_gt90pct_Attendance_N_count
  Percentage_of_Students_with_gt90pct_Attendance_Metric_Value
  Postsecondary_Enrollment_Rate__6_Months_N_count
  Postsecondary_Enrollment_Rate__6_Months_Metric_Value
  DBN
  Subgroup
  Nearby_Student_Percent
  Percentage_of_Students_Enrolled_in_Advanced_Courses
  Student_Percent
  Teacher_Percent
  DBN
  School Name
  Enrollment
  Instruction and Performance - Rating
  Teaching Environment - School Percent Positive
  Family Involvement - School Percent Positive
  Economic Need Index
  Percent in Temp Housing
  Percent HRA Eligible
  Average Student Attendance
  Advising and Planning - School Percent Positive
  DBN
  School Name
  borough
  district
  school_indentifier
  Latitude
  Longitude
  geometry

## Renaming column names

In [3]:
# Rename columns in fact table
fact_table.rename(columns={
    '4Year_College_and_Career_Readiness_N_count': 'n_count_ccr',
    '4Year_College_and_Career_Readiness_Metric_Value': 'ccr_rate',
    '4Year_Graduation_Rate_N_count': 'n_count_graduation_rate',
    '4Year_Graduation_Rate_Metric_Value': 'graduation_rate',
    '4Year_High_School_Persistence_Rate_N_count': 'n_count_hs_persistence_rate',
    '4Year_High_School_Persistence_Rate_Metric_Value': 'hs_persistence_rate',
    'Percentage_of_Students_with_gt90pct_Attendance_N_count': 'n_count_90pct_attendance',
    'Percentage_of_Students_with_gt90pct_Attendance_Metric_Value': '90pct_attendance_rate',
    'Postsecondary_Enrollment_Rate__6_Months_N_count': 'n_count_enrollment',
    'Postsecondary_Enrollment_Rate__6_Months_Metric_Value': 'enrollment_rate'
}, inplace=True)

fact_table.head()

,Primary_Key,DBN,Subgroup,n_count_ccr,ccr_rate,n_count_graduation_rate,graduation_rate,n_count_hs_persistence_rate,hs_persistence_rate,n_count_90pct_attendance,90pct_attendance_rate,n_count_enrollment,enrollment_rate
0,01M292_Asian,01M292,Asian,19.0,84.2,19.0,1,19.0,1,38.0,0.763,10.0,N<15
1,01M292_Black,01M292,Black,9.0,N<15,9.0,N<15,9.0,N<15,58.0,0.379,18.0,0.556
2,01M292_Hispanic or Latinx,01M292,Hispanic or Latinx,27.0,40,27.0,0.889,27.0,0.889,153.0,0.412,44.0,0.705
3,01M292_White,01M292,White,2.0,N<15,2.0,N<15,2.0,N<15,NaN,NaN,1.0,N<15
4,01M448_Asian,01M448,Asian,35.0,88.7,35.0,1,35.0,1,154.0,0.844,36.0,0.944

## Data_cleaning and data types regularizations

In [4]:
# Fact table cleaning
# Update datatypes with error coercion
fact_table['n_count_ccr'] = pd.to_numeric(fact_table['n_count_ccr'], errors='coerce').astype('Int64')
fact_table['ccr_rate'] = pd.to_numeric(fact_table['ccr_rate'], errors='coerce').astype(float)
fact_table['n_count_graduation_rate'] = pd.to_numeric(fact_table['n_count_graduation_rate'], errors='coerce').astype('Int64')
fact_table['graduation_rate'] = pd.to_numeric(fact_table['graduation_rate'], errors='coerce').astype(float)
fact_table['n_count_hs_persistence_rate'] = pd.to_numeric(fact_table['n_count_hs_persistence_rate'], errors='coerce').astype('Int64')
fact_table['hs_persistence_rate'] = pd.to_numeric(fact_table['hs_persistence_rate'], errors='coerce').astype(float)
fact_table['n_count_90pct_attendance'] = pd.to_numeric(fact_table['n_count_90pct_attendance'], errors='coerce').astype('Int64')
fact_table['90pct_attendance_rate'] = pd.to_numeric(fact_table['90pct_attendance_rate'], errors='coerce').astype(float)
fact_table['n_count_enrollment'] = pd.to_numeric(fact_table['n_count_enrollment'], errors='coerce').astype('Int64')
fact_table['enrollment_rate'] = pd.to_numeric(fact_table['enrollment_rate'], errors='coerce').astype(float)

# Convert ccr_rate from percentage to proportion
fact_table['ccr_rate'] = fact_table['ccr_rate'] / 100
fact_table.dtypes

display(fact_table.head())

fact_table.isna().sum()
fact_table.shape

,Primary_Key,DBN,Subgroup,n_count_ccr,ccr_rate,n_count_graduation_rate,graduation_rate,n_count_hs_persistence_rate,hs_persistence_rate,n_count_90pct_attendance,90pct_attendance_rate,n_count_enrollment,enrollment_rate
0,01M292_Asian,01M292,Asian,19,0.842,19,1.000,19,1.000,38,0.763,10,NaN
1,01M292_Black,01M292,Black,9,NaN,9,NaN,9,NaN,58,0.379,18,0.556
2,01M292_Hispanic or Latinx,01M292,Hispanic or Latinx,27,0.400,27,0.889,27,0.889,153,0.412,44,0.705
3,01M292_White,01M292,White,2,NaN,2,NaN,2,NaN,<NA>,NaN,1,NaN
4,01M448_Asian,01M448,Asian,35,0.887,35,1.000,35,1.000,154,0.844,36,0.944

(2024, 13)

In [5]:
# demographic table cleaning
demog_dim.columns

cols = ['Nearby_Student_Percent',
       'Percentage_of_Students_Enrolled_in_Advanced_Courses',
       'Student_Percent', 'Teacher_Percent']

for col in cols:
    demog_dim[col] = pd.to_numeric(demog_dim[col],errors='coerce')
demog_dim.dtypes

DBN                                                     object
Subgroup                                                object
Nearby_Student_Percent                                 float64
Percentage_of_Students_Enrolled_in_Advanced_Courses    float64
Student_Percent                                        float64
Teacher_Percent                                        float64
dtype: object

In [6]:
# environment table cleaning
env_dim.dtypes
env_dim.columns

cols = ['Teaching Environment - School Percent Positive',
       'Family Involvement - School Percent Positive', 'Economic Need Index',
       'Percent in Temp Housing', 'Percent HRA Eligible',
       'Average Student Attendance',
       'Advising and Planning - School Percent Positive']
for col in cols:
    env_dim[col] = pd.to_numeric(env_dim[col],errors='coerce')
env_dim.dtypes
env_dim.head()

,DBN,School Name,Enrollment,Instruction and Performance - Rating,Teaching Environment - School Percent Positive,Family Involvement - School Percent Positive,Economic Need Index,Percent in Temp Housing,Percent HRA Eligible,Average Student Attendance,Advising and Planning - School Percent Positive
0,01M292,Orchard Collegiate Academy,258,Fair,0.88,0.81,0.911,0.190,0.837,0.818,0.89
1,01M448,University Neighborhood High School,476,Excellent,0.95,0.82,0.719,0.097,0.639,0.915,0.93
2,01M450,East Side Community School,377,Excellent,0.93,0.93,0.658,0.101,0.520,0.935,0.91
3,01M539,"New Explorations into Science, Technology and ...",579,Excellent,0.93,0.93,0.436,0.029,0.366,0.941,0.89
4,01M696,Bard High School Early College,570,Excellent,0.81,0.85,0.496,0.053,0.404,0.919,0.85

In [7]:
# Location table
location_dim.dtypes # Looks perfect

DBN                    object
School Name            object
borough                object
district                int64
school_indentifier      int64
Latitude              float64
Longitude             float64
geometry               object
dtype: object

## Feature engineering

In [8]:
# 1. READINESS GAP
fact_table['readiness_gap'] = fact_table['graduation_rate'] - fact_table['ccr_rate']

# 2.

### More feature to come, but we will have to merge tables:
1. School_Instability / Borough_Average_Instability ENI_School / ENI average borough for example
2. Subgroup_Readiness_Gap / School_ENI
3.

## Creating Surrogate keys

In [ ]:
# Create unique identifier (primary key)
demog_dim['subgroup_id'] = demog_dim['DBN'] + '_' + demog_dim['Subgroup']

# Move subgroup_id to first column
cols = ['subgroup_id'] + [col for col in demog_dim.columns if col != 'subgroup_id']
demog_dim = demog_dim[cols]
demog_dim.head()

,subgroup_id,DBN,Subgroup,Nearby_Student_Percent,Percentage_of_Students_Enrolled_in_Advanced_Courses,Student_Percent,Teacher_Percent
0,01M292_Asian,01M292,Asian,0.415,0.364,0.147,NaN
1,01M292_Black,01M292,Black,0.138,0.136,0.217,0.200
2,01M292_Hispanic,01M292,Hispanic,0.333,0.424,0.574,NaN
3,01M292_White,01M292,White,0.076,0.076,0.043,0.480
4,01M448_Asian,01M448,Asian,0.092,0.337,0.326,0.184

### DBN are the primary keys for both location and environment tables, there is no need to create a key
- We might have to remove the school name from one the tables, because it is redundant