### EDA Notebook

- This notebook is for any EDA done in Python 

- Be sure to separate out the EDA tasks so your team doesn't get any merge conflicts 

- Use enough markdown of main takeaways and justification 

<br>

<div align='center'>

**For a streamlined EDA process amongst 3 teammates, we have subdivided this notebook into 3 sections, with each's own work contained within their dedicated section.**

</div>

> !NOTE
> Documentation on individual sections can be found attached to this folder.

In [2]:
# Imports
import pandas as pd
import numpy as np
import sqlite3

***

# **Thierno**

***

***

# **Ro**

In [3]:
# connecting to db to query it

path = '/Users/Marcy_Student/Desktop/Marcy-Modules/CID/CID_data-slayer-corps/data/etl/sql/CID_database_clean.db'
conn = sqlite3.connect(path)
cursor = conn.cursor()

## **Statistical Testing: ANOVA**

In [4]:
# Our first query for conducting statistic analysis (ANOVA)
query1 = """
SELECT borough, family_involvement_pct_positive, avg_student_attendance
FROM dim_environment e
JOIN dim_location l
ON e.DBN = l.DBN
"""

df1 = pd.read_sql_query(query1, conn)
df1

       borough  family_involvement_pct_positive  avg_student_attendance
0    Manhattan                             0.81                   0.818
1    Manhattan                             0.82                   0.915
2    Manhattan                             0.93                   0.935
3    Manhattan                             0.93                   0.941
4    Manhattan                             0.85                   0.919
..         ...                              ...                     ...
501      Bronx                              NaN                   0.869
502      Bronx                              NaN                     NaN
503      Bronx                              NaN                   0.826
504      Bronx                              NaN                   0.847
505      Bronx                              NaN                   0.934

[506 rows x 3 columns]

In [5]:
# checking for NAs
df1.isna().sum()

borough                             0
family_involvement_pct_positive    54
avg_student_attendance             11
dtype: int64

In [24]:
# grouping by borough to fill in missing rows per borough with the borough average
df_family_avg = df1.copy()
df_family_avg['family_involvement_pct_positive'] = df_family_avg.groupby('borough')['family_involvement_pct_positive'].transform(lambda x: x.fillna(x.mean()))
df_attendance_avg = df1.copy()
df_attendance_avg['avg_student_attendance'] = df_attendance_avg.groupby('borough')['avg_student_attendance'].transform(lambda x: x.fillna(x.mean()))

# then, let's combine these two
df_filled = df_family_avg.merge(df_attendance_avg, how='inner')
df_filled.isna().sum()

borough                            0
family_involvement_pct_positive    0
avg_student_attendance             0
dtype: int64

***

***

# **Debo**

***